<div id="detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12" ng-controller="TypeaheadCtrl2">
        <h1 class="visible-xs"><span>Is That Out Yet?</span></h1>
        <h1><span class="hideItem">Is</span><input type="text" name="search" ng-model="customSelected" typeahead="game as game.name for game in getGame($viewValue) | filter:$viewValue" typeahead-template-url="views/customTemplate.html" typeahead-on-select="onSelect($item)" placeholder="{{details.name}}"><span class="hideItem">Out Yet?</span></h1>
      </div>
    </div>
    <div class="row game-detail">
      <div class="col-sm-4 col-md-3">
        <img class="game-detail-cover" ng-src="{{details.image.small_url}}">
      </div>
      <div class="col-sm-8 col-md-9">
         <h3 class="game-title">{{details.name}}</h3>
         <div class="icon-calendar"></div>
        <div class="game-date">{{date | date:'shortDate'}}</div>
        <div class="icon-info-circled"></div>
        <p class="game-descr">{{details.deck}}</p>
        <div class="icon-tag"></div>
        <ul class="platforms">
          <div ng-repeat="item in details.platforms">
            <li>{{item.name}}</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="row email-signup {{hideClass}}">
      <div class="col-md-12">
        <h4>Bad news, {{details.name}} is not out yet!</h4>
        <p>Good news though! Enter you email address, choose a day, and we will notfiy you via email before the game comes out.</p>
        <form>
          <input type="email" name="email" placeholder="Enter email address" required>
          <p>I would like to be notified
          <select name="date" id="select-date" required>
            <option value="" disabled selected>select</option>
            <option value="zero">on the day</option>
            <option value="one">1 day before</option>
            <option value="two">2 days before</option>
            <option value="three">3 days before</option>
          </select> the game comes out!</p>
          <button><div class="icon-mail"></div>Notify Me</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-md-12">
          <small>&copy; 2014 Is That Out Yet? All rights reserved. API provided by <a href="http://www.giantbomb.com/" target="_blank">Giant Bomb</a>.</small>
          <small>Created by <a href="http://jeremymcgraw.com" target="_blank">Jeremy McGraw</a>. Want to get in touch? <a href="mailto:contact@jeremymcgraw.com">Contact me</a>.</small>
        </div>
      </div>
    </footer>
  </div>
</div>