<div id="detail">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="visible-xs"><span>Is That Out Yet?</span></h1>
        <h1><span class="hideItem">Is</span><input type="text" name="search"><span class="hideItem">Out Yet?</span></h1>
      </div>
    </div>
    <div class="row game-detail">
      <div class="col-md-2">
        <img src="http://placehold.it/150x150">
      </div>
      <div class="col-md-10">
         <h3 class="game-title">Dying Light</h3>
         <div class="icon-calendar"></div>
        <div class="game-date">2014</div>
        <div class="icon-info-circled"></div>
        <p class="game-descr">Dying Light is a first-person, open world game set in a zombie apocalypse. The player character is able to free-run to get around the environment quickly.</p>
        <div class="icon-tag"></div>
        <ul class="platforms">
          <li>Xbox One</li>
          <li>Playstation 4</li>
          <li>Xbox 360</li>
          <li>Playstation 3</li>
          <li>PC</li>
        </ul>
      </div>
    </div>
    <div class="row email-signup">
      <div class="col-md-12">
        <h4>Bad news, Dying Light is not out yet!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sed facilis vero quos quasi!</p>
        <form>
          <input type="email" name="email" placeholder="Enter email address" required>
          <p>I would like to be notified
          <select name="date" id="select-date" required>
            <option value="" disabled selected>select</option>
            <option value="one">1 day</option>
            <option value="two">2 days</option>
            <option value="three">3 days</option>
          </select> before the game comes out!</p>
          <button><div class="icon-mail"></div>Notify Me</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-md-12">
          <small>&copy; 2014 Is That Out Yet? All rights reserved. API provided by <a href="#">Giant Bomb</a>.</small>
          <small>Created by Jeremy McGraw. Want to get in touch? <a href="#">Contact me</a>.</small>
        </div>
      </div>
    </footer>
  </div>
</div>