<div id="unsubscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Is That Out Yet?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="img/icon-05.svg">
        <h3>Sorry to see you go!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, excepturi, similique, voluptatem neque itaque temporibus vitae tempore dolore nesciunt perferendis saepe fugiat aliquam explicabo ab qui aut modi quidem dolorem.</p>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-md-12">
          <small>&copy; 2014 Is That Out Yet? All rights reserved. API provided by <a href="#">Giant Bomb</a>.</small>
          <small>Created by Jeremy McGraw. Want to get in touch? <a href="#">Contact me</a>.</small>
        </div>
      </div>
    </footer>
  </div>
</div>