<div id="unsubscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><a href="#">Is That Out Yet?</a></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="images/icon-05.svg">
        <h3>Sorry to see you go!</h3>
        <p>You've officially been removed from the list! We'll no longer be sending you any more notifications.</p>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-md-12">
          <small>&copy; 2014 Is That Out Yet? All rights reserved. API provided by <a href="http://www.giantbomb.com/" target="_blank">Giant Bomb</a>.</small>
          <small>Created by <a href="http://jeremymcgraw.com" target="_blank">Jeremy McGraw</a>. Want to get in touch? <a href="mailto:contact@jeremymcgraw.com">Contact me</a>.</small>
        </div>
      </div>
    </footer>
  </div>
</div>